  <div class="container">

    <div class="card_container">
      <figure>
        <img src="../assets/img/tareas.png" class="front" alt="Tareas">
        <figcaption class="back">
          <h2>Gestor de tareas</h2>
          <hr>
          <p>Aplicación para gestionar tareas. Añade tareas, márcalas como completadas, ordénalas manual o
            automáticamente y elimina las que ya están finalizadas.</p>
        </figcaption>
      </figure>
    </div>

    <div class="card_container">
      <figure>
        <img src="../assets/img/cesar.png" class="front" alt="Tareas">
        <figcaption class="back">
          <h2>Cifrado César</h2>
          <hr>
          <p>En criptografía, el cifrado César, también conocido como cifrado por desplazamiento, es una de las técnicas
            de cifrado más simples y más usadas. Es un tipo de cifrado por sustitución en el que una letra en el texto
            original es reemplazada por otra letra que se encuentra un número fijo de posiciones más adelante en el
            alfabeto. Este método debe su nombre a Julio César, que lo usaba para comunicarse con sus generales.</p>
        </figcaption>
      </figure>
    </div>

    <div class="card_container">
      <figure>
        <img src="../assets/img/tablero.png" class="front" alt="Tareas">
        <figcaption class="back">
          <h2>Tablero Ajedrez</h2>
          <hr>
          <p>Diseño de un tablero de ajedrez. Permite realizar movimientos de las piezas arrastrando y soltando o
            haciendo click en una pieza y otro click en una casilla vacía u ocupada por una pieza rival (no tiene en
            cuenta los movimientos permitidos)</p>
        </figcaption>
      </figure>
    </div>

    <div class="card_container">
      <figure>
        <img src="../assets/img/comentarios.png" class="front" alt="Tareas">
        <figcaption class="back">
          <h2>Sistema de comentarios</h2>
          <hr>
          <p>Sistema de comentarios y likes. Permite escribir y contestar comentarios y añadir likes</p>
        </figcaption>
      </figure>
    </div>

  </div>
